<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ClinicData" connectionString="Data Source=.\sqlexpress;Initial Catalog=Clinic;Integrated Security=True"            providerName="System.Data.SqlClient" />
    <!--<add name="ClinicData" connectionString="Data Source=SQL5042.site4now.net;Initial Catalog=DB_A4AE94_ClinicData;User Id=DB_A4AE94_ClinicData_admin;Password=As123456;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>